{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Write Your Message</h2>
                <form id="mainform" method="post">
                    <div class="form-group">
                        <label for="username">Sender of the Message:</label>
                        <input id="username" class="form-control" name="username" placeholder="Sender" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Type your message:</label>
                        <input id="message" class="form-control" name="message" placeholder="Your message here" required>
                    </div>
                    <input class="btn btn-default" type="submit" value="Submit">
                </form>

            </div>
            <div class="col-md-8">

                <h2>Messages</h2>
                {% if messages %}
                    {% for m in messages %}
                        <p>"{{ m.message }}"</p>
                        <p>{{ m.sender }} ({{ m.dt }})</p>
                    {% endfor %}
                {% else %}
                    <p>No messages found.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
