<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}Web Based Chat Application{% endblock %}
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/superhero/bootstrap.min.css">

        <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
<style>
body {
    background-color: black;
}
</style>
       
    </head>

    <body>
         
        {% block nav %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('home') }}">Chat Application</a>
                    </div>
	
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        {% if not 'logged_in' in session %}
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                        {% else %}
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </body>
</html>
